<div class="container">
  <button type="button" (click)="nextMethodCall()" class="btn btn-primary">{{ btnLabel }}</button>
  <div>
    callstack:
    <pre>{{ eventLoop.callStack | json }}</pre>
    <hr /> ready stack:
    <pre>{{ eventLoop.readyStack | json }}</pre>
    <div class="row" [style.height]="'500px'" *ngIf="eventLoop?.callStack">
      <div class="col-3 d-flex align-items-start flex-column">
        <div class="mb-auto p-2"></div>
        <div *ngFor="let called of eventLoop.callStack | reverse" class="alert alert-primary p-2">
          {{ called.name }}
        </div>
      </div>
    </div>
  </div>
</div>